# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: OHeaven
    database_user: root
    database_password: null

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    locale: fr
    secret: 1Edj5YTg5D4yJ8yA
